//colores
$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;

$color-secundario-claro : #ffb900;
$color-secundario-oscuro : #ff7730;

$color-terciario-claro : #2998ff;
$color-terciario-oscuro : #5643fa;

$color-gris-claro: #f7f7f7;
$color-gris-claro-2: #eee;
$color-gris-oscuro: #777;
$color-gris-oscuro-2: #999;
$color-gris-oscuro-3: #333;
$color-blanco: #fff;
$color-black: #000;

//Grid
$ancho-grid: 114rem;
$espacio-vertical: 8rem;
$espacio-vertical-pequeno: 6rem;
$espacio-horizontal: 6rem;

//tamaño por defecto
$tamano-text-predeterminado: 1.6rem;
