.card {
  //definimos la propiedad para la perspectiva
  perspective: 150rem; //El valo tiene que ser grande  Jugar con la propiedad
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;

  &__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden; //Con esto indicamos que la parte de atras no se ve
    -webkit-backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-blanco;
    }

    &--back {
      //Esta ya está rotada de serie
      transform: rotateY(-180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secundario-claro,
          $color-secundario-oscuro
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-terciario-claro,
          $color-terciario-oscuro
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    //Aqui rotamos el elemento para ponerlo normals
    transform: rotateY(-360deg);
  }

  //estilos de la parte frontal
  &__picture {
    background-size: cover;
    height: 23rem; //Este numero ha sido sacado experimentando
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webclip-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      //Ponemos solo una subida porque se le desde la carpeta de css
      //Primero ponemos el degradado y luego metemos la imagen
      background-image: linear-gradient(
          to right bottom,
          $color-secundario-claro,
          $color-secundario-oscuro
        ),
        url(../img/nat-5.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../img/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-terciario-claro,
          $color-terciario-oscuro
        ),
        url(../img/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-blanco;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone; //Hace que el padding sea igual para los 4 lados al romper la palabra
    -webkit-box-decoration-break: clone; //compatibilidad con chrome

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secundario-claro, 0.85),
        rgba($color-secundario-oscuro, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-terciario-claro, 0.85),
        rgba($color-terciario-oscuro, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li {
        text-align: center;
        font-size: $tamano-text-predeterminado;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-gris-claro-2;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    text-align: center;
    margin-bottom: 6rem;
    color: $color-blanco;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    //Para los textos grandes es bueno hacerlos finos
    font-size: 6rem;
    font-weight: 100;
  }

  // @include responder(tabVer) {
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
    border-radius: 3px;
    background-color: $color-blanco;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        //Esta ya está rotada de serie
        transform: rotateY(-360deg);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0deg);
    }

    &__details {
      padding: 1rem;
    }

    &__cta {
      position: relative;
      top: 0%;
      left: 0%;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      //Para los textos grandes es bueno hacerlos finos
      font-size: 5rem;
    }
  }
}
